section{
  width:100vw;
  height:100vh;

}
section:nth-child(1){
  background:#1abc9c;
  text-align:center;
  color:white;
  position:relative;
}
section:nth-child(1) div:nth-child(1){
  margin:0;
  position:absolute;
  top:30%;
  width:100%;
  text-align:center;
}
section:nth-child(1) div:nth-child(1) span{
  padding:50px 20px;
  color:white;
  font-weight:bold;
  display:inline-block;
  width:80%;
  font-size:100px;
}
section:nth-child(1) div:nth-child(2){
   position:absolute; 
   top:55%;
   width:100%;
   
}
section:nth-child(1) div:nth-child(2) span{
  width:30%;
  display:inline-block;
  background:white;
  color:#2c3e50;
  height:50px;
  margin:0 25px;
  font-size:45px;
  font-weight:bold;
  padding:20px;
  box-shadow: green 2px 2px 8px;
  cursor:pointer;
}
section:nth-child(2){
  background:#fbfbfb;
  color:black;
}
section:nth-child(2) div:nth-child(1){
  text-indent:10%;
  font-size:40px;
  font-weight:bold;
  padding-top:5%;
}
